@import '../../../../styles/base';

.logList {

  &__header {
    color: $color-grey-dark-1;
    text-align: center;
    margin: 2rem;
  }

  &__list {
    margin-bottom: 2rem;

    &-header {
      margin-bottom: 2rem;
      width: 90%;
      display: grid;
      grid-template-columns: minmax(10rem, 2fr)  repeat(5, minmax(6rem, 1fr));
      
    }
  
    &-title {
      display: grid;
      align-items: center;

      font-size: $font-size-quarternary;
      font-family: $font-display;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      
      @media only screen and (max-width: $bp-small) {
        font-size: $font-size-body;
      }
    }
  
    &-table {
      display: flex;
      
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &--even {
        & > :first-child {
          background-color: $color-grey-light-3;
        }
      }

    }

    &-btn {
      
      align-self: center;
    }
  }

  &__item {
  
    display: grid;
    width: 90%;
    grid-template-columns: minmax(10rem, 2fr)  repeat(5, minmax(6rem, 1fr));
    
  
    &-text {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

}