@import '../../../../styles/base';

.infoFilters {
  grid-column: center-start / center-end;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $color-grey-dark-2;
  display: flex;

  &__select {
    color: $color-grey-dark-1; 
    font-size: $font-size-quarternary;
    background-color: $color-grey-light-3;
    border: none;
    
  }
}