.btn {

  &,
  &:link,
  &:visited {
    font-size: $font-size-body;
    color: $color-grey-light-2;
    background-color: $color-grey-dark-3;

    text-decoration: none;
    border: none;
    cursor: pointer;
    
    padding: 0 2rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1rem;
    }
  }

  &:hover {
    background-color: lighten($color-grey-dark-3, 20%);
  }

  &:active,
  &:focus,
  &--active {
    outline: none;
    background-color: lighten($color-grey-dark-3, 10%);
  }

  &--form {
    padding: 1rem 2rem;
  }

  &--primary {
    padding: 2rem 4rem;
  }

  &--disabled {
    opacity: .5;
    cursor: auto;
    background-color: $color-grey-dark-3;

    &:hover {
      background-color: $color-grey-dark-3;
    }

    &:active,
    &:focus,
    &--active {
      background-color: $color-grey-dark-3;
    }
  }
  
  &--negative {
    opacity: .6;
  }


  &--page {
    padding: 0 .5rem;
  }

}