.header {
  background-color: $color-grey-dark-1;
  text-align: center;
  display: flex;
  grid-column: full-start / full-end;
  
  &__title {
    color: $color-grey-light-1;
    margin: 0 2rem;
  }

}