.logFoodListDisplay {

  &__header {
    color: $color-grey-dark-1;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__list {
    margin-bottom: 2rem;

    &-header {
      margin-bottom: 2rem;
      width: 80%;
      display: grid;
      grid-template-columns: minmax(10rem, 2fr)  repeat(5, minmax(6rem, 1fr));
      
    }
  
    &-title {
      display: grid;
      align-items: center;

      font-size: $font-size-quarternary;
      font-family: $font-display;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
    }
  
    &-table {
      display: flex;
      
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &--even {
        & > :first-child {
          background-color: $color-grey-light-3;
        }
      }

    }

    &-options {
      display: flex;
      width: 20%;
    }

    &-multiplier {
      margin-left: auto;
      width: 30%;
      align-self: center;
      border: none;
      font-size: $font-size-body;
    }

    &-btn {
  
      align-self: center;
    }
  }

}