@import './styles/base';
@import './styles/typography';
@import './styles/utilities';
@import './styles/react_dates_overrides';
@import './styles/header';
@import './styles/form';
@import './styles/foodsFilter';
@import './styles/logsFilter';
@import './styles/logList';
@import './styles/currentLog';
@import './styles/editLog';
@import './styles/tabs';
@import './styles/pane';
@import './styles/logFoodListDisplay';
@import './styles/listDisplay';
@import './styles/logFoodListItem';
@import './styles/listItem';
@import './styles/button';
@import '../node_modules/react-dates/lib/css/_datepicker.css';


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
